.MyGrid {
    margin-top: 20px;
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(auto-fill,300px);
    grid-template-rows: repeat(auto-fill,350px);
    column-gap: 20px;
    row-gap: 20px;
}

.Card {
    width: 300px;
    background-color: white;

}

.MyImg {
    width: 300px;

}

.TextCardsContainer {
    box-sizing: border-box;
    padding: 10px;
    height: 150px;
}

.ProductName {
    margin: 0;
    font-size: 16px;
    font-weight: 700;

}

.Description {
    font-size: 10px;
    color:#dddddd;
}

.PriceContainer {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.Something {
    font-size: 15px;
    font-weight: 700;

}



.Price {
    border-radius: 5px;
    border: solid #dddddd 2px;
    background-color: #eeeeee;
    height: 20px;

}